{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->

<h3>Your Authors</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->

<div class="row">
  <div class="col-md-4">
    <img src="{{ url_for('images', image='Ryan.jpg') }}" alt="Joseph" style="width: 200px; height: 200px;">
    <p style="text-align:left">Joseph</p>
  </div>
  <div class="col-md-4">
    <img src="{{ url_for('images', image='James.png') }}" alt="James" style="width: 200px; height: 200px;">
    <p style="text-align:left">James</p>
  </div>
  <div class="col-md-4">
    <img src="{{ url_for('images', image='cami.jpg') }}" alt="cami" style="width: 200px; height: 200px;">
    <p style="text-align:left">Cami</p>
  </div>
</div>

{% endblock %}

