{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->

<h3>Your Authors</h3>

<!-- TODO(Project 1): Add team members and pictures to about page. -->

<div class="d-flex">
  <div class="col-md-4 px-0">
    <img src="{{ url_for('static', filename='cami.jpg') }}" alt="Team member 1" style="width: 200px; height: 200px;">
    <p style="text-align:left">Cami</p>
  </div>
  <div class="col-md-4 px-0">
    <img src="{{ url_for('static', filename='Ryan.jpg') }}" alt="Team member 2" style="width: 200px; height: 200px;">
    <p style="text-align:left">Ryan</p>
  </div>
  <div class="col-md-4 px-0">
    <img src="{{ url_for('static', filename='James.png') }}" alt="Team member 3" style="width: 200px; height: 200px;">
    <p style="text-align:left">James</p>
  </div>
</div>

{% endblock %}