{% extends "main.html" %}

{% block page_name %}
Xbox
{% endblock %}

{% block content %}
<h5>The Xbox</h5>

<body>
    <h4>
        Atari (/əˈtɑːri/) is a brand name that has been owned by several entities since its inception in 1972. It is currently owned by French company Atari SA (formerly Infogrames) through a subsidiary named Atari Interactive.[1][2][3] The original Atari, Inc., founded in Sunnyvale, California, in 1972 by Nolan Bushnell and Ted Dabney, was a pioneer in arcade games, home video game consoles and home computers. The company's products, such as Pong and the Atari 2600, helped define the electronic entertainment industry from the 1970s to the mid-1980s.
    </h4>
    <h4>
        In 1984, as a result of the video game crash of 1983, the home console and computer divisions of the original Atari Inc. were sold off to Jack Tramiel's Tramel Technology Ltd., which then renamed itself to Atari Corporation.[4][5] Atari, Inc. was renamed Atari Games Inc.[6] Atari Games received the rights to use the logo and brand name with appended text "Games" on arcade games. The rights to Atari, Inc.'s game properties were shared between the two companies, with Atari Corporation receiving the trademarks and the home rights.[7] In 1996, Atari Corporation reverse-merged with disk-drive manufacturer JT Storage (JTS),[8] becoming a division within the company. In 1998, Hasbro Interactive acquired all Atari Corporation related properties from JTS,[9] creating a new subsidiary, Atari Interactive.[10]

    </h4>
    <h4>
        Infogrames Entertainment (IESA) bought Hasbro Interactive in 2001 and renamed it Infogrames Interactive, which intermittently published Atari-branded titles. In 2003, it renamed the division Atari Interactive. Another IESA division, Infogrames Inc.,[11] changed its name to Atari, Inc. the same year, licensing the Atari name and logo from its fellow subsidiary.[2][12][13]
    </h4>
</body>



{% endblock %}

