{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
    <ul>
        <nav>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
            <a href="{{ url_for('page3') }}">page3</a>
            <a href="{{ url_for('page4') }}">page4</a>
            <a href="{{ url_for('page5') }}">page5</a>
            <a href="{{ url_for('page6') }}">page6</a>
            <a href="{{ url_for('page7') }}">page7</a>
            <a href="{{ url_for('page8') }}">page8</a>
            <a href="{{ url_for('page9') }}">page9</a>
        </nav>
    </ul>
  
  
{% endblock %}

<!-- <a href="{{ url_for('logout') }}">Logout</a> -->