<!-- Template for the Login page -->

{% extends "main.html" %}

<!-- Use template inheritance to update the content of the page -->

{% block page_name %}
Login
{% endblock %}

{% block content %}
<!-- specify the endpoint to send request to -->
<form method="POST" action="/login">
   <input required type="text" type="text" name="username" placeholder="Name" autofocus="">
   <input required type="text" type="password" name="password" placeholder="Password">
   <button type="submit">Login</button>
</form>
{% endblock %}

