<!-- base.html -->
<!DOCTYPE html>
<html>

<head>
    <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/slider.css">
</head>

<body>
    <header>
        <h1>Awesome Wiki Viewer</h1>

        <!-- Links for the navigation bar -->
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('pages') }}">Index</a>
             <!-- only show the upload and logout links if the user is logged in -->
            {% if current_user.is_active %}
            <!-- display the user name -->
            {{ current_user.username }}
            <a href="{{ url_for('upload') }}">Upload</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <!-- otherwise, display the login and signup links -->
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </nav>
        <h3> Welcome to the wiki!!!  It's about video game history</h3>  
    </header>

    <!-- empty div to use to populate generic content for the page -->
    <div>   
        {% block content %}{{ page_content }}{% endblock %}

            <!-- Show feature if user is logged in  -->
        {%  if current_user.is_active %}
        <div class= "slider-container">
            <div class="wrapper textSl">
                <div class ="type"> 
                    <p class="slider-title"> The Console Slideshow</p>
                </div>
            </div>

            <div class="slider">
                <div class="images">

                    <!-- creting input fields to link with the corresponding images -->
                    <input type="radio" class="slide" id="img1">
                    <input type="radio" class="slide" id="img2">
                    <input type="radio" class="slide" id="img3">
                    <input type="radio" class="slide" id="img4">
                    <input type="radio" class="slide" id="img5">
                    <input type="radio" class="slide" id="img6">
                    <input type="radio" class="slide" id="img7">
                    <input type="radio" class="slide" id="img8">
                    <input type="radio" class="slide" id="img9">
                    <input type="radio" class="slide" id="img10">
                    <input type="radio" class="slide" id="img11">

                    <!--Images on bucket content to be displayed when clicked on the buttons -->
                    <img src="https://storage.googleapis.com/thewikicontent/atari.jpg" alt="img1" class="im1">
                    <img src="https://storage.googleapis.com/thewikicontent/cookieClicker.jpg" alt="img2" class="im2">
                    <img src="https://storage.googleapis.com/thewikicontent/DS.jpg" alt="img3" class="im3">
                    <img src="https://storage.googleapis.com/thewikicontent/mobilegaming.png" alt="img4" class="im4">
                    <img src="https://storage.googleapis.com/thewikicontent/nintendo.jfif" alt="img5" class="im5">
                    <img src="https://storage.googleapis.com/thewikicontent/playStation.jpg" alt="img6" class="im6">
                    <img src="https://storage.googleapis.com/thewikicontent/sega.jpg" alt="img7" class="im7">
                    <img src="https://storage.googleapis.com/thewikicontent/steam.png" alt="img8" class="im8">
                    <img src="https://storage.googleapis.com/thewikicontent/tetris.png" alt="img9" class="im9">
                    <img src="https://storage.googleapis.com/thewikicontent/wii.jpg" alt="img10" class="im10">
                    <img src="https://storage.googleapis.com/thewikicontent/Xbox.jpg" alt="img11" class="im11">
                </div>

                <!-- Buttons that allow to move back and forward on the image slideshow -->
                <div class="decorators">
                    <label for="img1"></label>
                    <label for="img2"></label>
                    <label for="img3"></label>
                    <label for="img4"></label>
                    <label for="img5"></label>
                    <label for="img6"></label>
                    <label for="img7"></label>
                    <label for="img8"></label>
                    <label for="img9"></label>
                    <label for="img10"></label>
                    <label for="img11"></label>

                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <footer>
        &copy; 2023 awesomeWikiViewer
    </footer>
</body>

</html>