<!-- base.html -->
<!DOCTYPE html>
<html>

<head>
    <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css" />
</head>

<body>
    <header>
        <h1 style="font-family:Times" class="wiki-name">Awesome Wiki Viewer</h1>

        <!-- Links for the navigation bar -->
        <div class="navbar">
            <a clas="link" href="{{ url_for('home') }}">Home</a>
            <a clas="link" href="{{ url_for('about') }}">About</a>
            <a clas="link" href="{{ url_for('pages') }}">Index</a>
             <!-- only show the upload and logout links if the user is logged in -->
            {% if current_user.is_active %}
            <!-- display the user name -->
            <p class="username"> {{ current_user.username }} </p>
            <a clas="link" href="{{ url_for('upload') }}">Upload</a>
            <a clas="link" href="{{ url_for('logout') }}">Logout</a>
            <!-- otherwise, display the login and signup links -->
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
        <h3> Welcome to the wiki!!!  It's about video game history</h3>  
    </header>

    <!-- empty div to use to populate generic content for the page -->
    <div>       
        {% block content %}{{ page_content }}{% endblock %}
    </div>

    <footer>
        &copy; 2023 awesomeWikiViewer
    </footer>
</body>

</html>