{% extends "main.html" %}

{% block page_name %}
Pages in the Wiki
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/pages.css" />
    </head>
    <nav style="display: block;">
        <ul>
            <!-- for loop over all the pages -->
            {% for page in pages %}
            <li>
                <button style=
                "margin: 5px; 
                background-color: lightskyblue; 
                display: block; 
                width: 100%; 
                font-size: 15px;
                border-radius: 5px;
                "
                >
                    <a href="{{ url_for('show_page', page_name=page) }}">{{page}}</a>
                </button>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}