{% extends "base.html" %}

{% block content %}
  <h1>Previous Versions of {{ page_name }}</h1>
  <ul>
    {% for prev_version_id, timestamp, username in previous_versions %}
      <li>
        {{ timestamp }} by {{ username }}
        <form action="{{ url_for('replace_with_previous_version', page_name=page_name) }}" method="post">
          <input type="hidden" name="prev_version_id" value="{{ prev_version_id }}">
          <button type="submit">Make this the current version</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}